<div class="wrapper">
    <div class="form__wrapper">
      <h2 class="page-heading">ðŸ’«ãƒ¦ãƒ¼ã‚¶ãƒ¼ãƒ­ã‚°ã‚¤ãƒ³ðŸ’«</h2>

       <%# ãƒ­ã‚°ã‚¤ãƒ³æ™‚ã®ã‚¨ãƒ©ãƒ¼ãƒ¡ãƒƒã‚»ãƒ¼ã‚¸  %>
        <div class='login-flash-message' >
          <%= flash[:notice] %>
          <%= flash[:alert] %>
        </div>
    
      <%= form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f| %>


        <%# ã€Œãƒ¢ãƒ‡ãƒ«åã€ã«ã¯Userãƒ¢ãƒ‡ãƒ«ã§ã‚ã‚Œã°@userã‚’æ¸¡ã—ã¾ã—ã‚‡ã†ã€‚%>
        <%# ã€Œãƒ­ã‚°ã‚¤ãƒ³æ©Ÿèƒ½ã¸ã®ãƒ‘ã‚¹ã€ã¯ã€deviseå°Žå…¥å¾Œã«rails routesã‚’å®Ÿè¡Œã—ã¦devise/sessions#createã¸ã®ãƒ‘ã‚¹ã‚’ç¢ºèªã—ã€è¨˜è¼‰ã—ã¦ãã ã•ã„ã€‚ %>
        <%= form_with model: @user, url: user_session_path, local: true do |f| %>

          <div class="field">
            <%= f.label :email, "ãƒ¡ãƒ¼ãƒ«ã‚¢ãƒ‰ãƒ¬ã‚¹" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field">
            <%= f.label :password, "ãƒ‘ã‚¹ãƒ¯ãƒ¼ãƒ‰ï¼ˆ6æ–‡å­—ä»¥ä¸Šï¼‰" %><br />
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>

          <div class="actions">
            <%= f.submit "ãƒ­ã‚°ã‚¤ãƒ³", class: :form__btn  %>
          </div>
        <% end %>
      <% end %>
  </div>
</div>